<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="webedit:chooseimage" patch:instead="*[@name='webedit:chooseimage']" type="Sitecore.Support.XA.Foundation.Editing.Commands.ChooseImage, Sitecore.Support.189805"/>
    </commands>
  </sitecore>
</configuration>